<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">Book Store</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="/books">Books</a>
      </li>
    </ul>
    <div th:if="${session.user==null}">
      <a href="/signin" class="btn btn-outline-light ml-2">Sign In</a>
      <a href="/signup" class="btn btn-light ml-2">Sign Up</a>
    </div>
    <div th:if="${session.user}">
      <div th:if="${session.user.role=='ADMIN'}">
        <a href="/admin" class="btn btn-secondary ml-2">Admin Dashboard</a>
      </div>
    </div>
    <div th:if="${session.user}">
      <a href="/previous-orders" class="btn btn-outline-light ml-2"
        >View Previous Orders</a
      >
      <a href="/logout" class="btn btn-outline-light ml-2">Logout</a>
    </div>
  </div>
</nav>
