<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/commoncss}"></th:block>
    <title>Book Store - Manage Books</title>
    <link rel="stylesheet" href="/css/book.css" />
  </head>
  <body>
    <th:block th:insert="~{fragments/navbar}"></th:block>
    <th:block th:insert="~{fragments/message}"></th:block>

    <div class="container mt-4">
      <h1>Manage Books</h1>

      <div class="row">
        <div th:each="book:${books}" class="col-md-3">
          <div class="book-card">
            <div class="book-image">
              <img
                th:src="${book.picturePath}"
                width="150px"
                height="200px"
                alt="Book.jpg"
              />
            </div>
            <div class="book-details">
              <h4 th:text="${book.name}"></h4>
              <p th:text="'Author: ' + ${book.authorName}"></p>
              <p th:text="'Genre: ' + ${book.genre}"></p>
              <p th:text="'Stock: ' + ${book.stock}"></p>
              <p th:text="'Type: ' + ${book.type}"></p>
              <p th:text="'Price: ' + ${book.price}"></p>
            </div>
            <div class="book-actions">
              <a th:href="${book.demoPdfPath}" download="Book.pdf"
                ><button>Download Demo</button></a
              >

              <a th:href="'/admin/edit/'+${book.id}"><button>Edit</button></a>
              <a th:href="'/admin/delete/'+${book.id}"
                ><button>Delete</button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <th:block th:insert="~{fragments/footer}"></th:block>
  </body>
</html>
