<!DOCTYPE html>
<html>
<head>
	<th:block th:insert="~{/fragments/commoncss}"></th:block>
	<title>Confirm Order</title>
	<link rel="stylesheet" href="/css/confirm.css">
</head>

<body>
	<div class="container">
		<h3>You have selected Book : <span th:text="${book.name}"></span></h3>
		<h3>You are about to Pay : <span th:text="${book.price}+'&#8377'"></span></h3>
		<button id="rzp-button1">Pay with Razorpay</button>
	</div>
	
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="/js/razorpay.js"></script>

</body>

</html>