<!DOCTYPE html>
<html lang="en">
  <head>
    <th:block th:insert="~{fragments/commoncss}"></th:block>
    <title>Edit Book - Book Store</title>
    <link rel="stylesheet" href="/css/addbook.css" />
  </head>

  <body>
    <th:block th:insert="~{fragments/navbar}"></th:block>

    <div class="container mt-4">
      <h2>Edit Book</h2>
      <form
        action="/admin/update-book"
        th:object="${book}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name">Book Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            th:field="*{name}"
          />
          <span
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
            class="error-message"
          ></span>
        </div>
        <input type="hidden" name="id" th:field="*{id}" />
        <div class="form-group">
          <label for="name">Author Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="authorName"
            th:field="*{authorName}"
          />
          <span
            th:if="${#fields.hasErrors('authorName')}"
            th:errors="*{authorName}"
            class="error-message"
          ></span>
        </div>

        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            name="price"
            th:field="*{price}"
          />
          <span
            th:if="${#fields.hasErrors('price')}"
            th:errors="*{price}"
            class="error-message"
          ></span>
        </div>
        <div class="form-group">
          <label for="genre">Genre:</label>
          <input
            type="text"
            class="form-control"
            id="genre"
            name="genre"
            th:field="*{genre}"
          />
          <span
            th:if="${#fields.hasErrors('genre')}"
            th:errors="*{genre}"
            class="error-message"
          ></span>
        </div>
        <div class="form-group">
          <label>Type:</label>
          <select class="form-control" name="type" th:field="*{type}">
            <option value="new">New</option>
            <option value="old">Old</option>
          </select>
          <span
            th:if="${#fields.hasErrors('type')}"
            th:errors="*{type}"
            class="error-message"
          ></span>
        </div>
        <div class="form-group">
          <label for="store">Stock:</label>
          <input
            type="text"
            class="form-control"
            id="stock"
            name="stock"
            th:field="*{stock}"
          />
          <span
            th:if="${#fields.hasErrors('stock')}"
            th:errors="*{stock}"
            class="error-message"
          ></span>
        </div>
        <div class="form-group">
          <label for="picture">Book Picture:</label>
          <input
            type="file"
            class="form-control-file"
            id="picture"
            name="photo"
            accept="image/*"
          />
          <div class="book-image">
            <img
              th:src="${book.picturePath}"
              width="150px"
              height="200px"
              alt="Book.jpg"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="demo-pdf">Demo PDF:</label>
          <input
            type="file"
            class="form-control-file"
            id="demo-pdf"
            name="bookPdf"
            accept=".pdf"
          />
          <button>
            <a th:href="${book.demoPdfPath}" download="Book.pdf"
              >Download Demo</a
            >
          </button>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <th:block th:insert="~{fragments/footer}"></th:block>
  </body>
</html>
