<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragments/commoncss}"></th:block>
    <title>OTP Verification</title>
    <link rel="stylesheet" href="/css/enterotp.css" />
  </head>

  <body>
    <th:block th:insert="~{/fragments/message}"></th:block>
    
      <div class="form-container">
        <form action="/verify-otp" method="post">
          <input type="hidden" name="id" th:value="${id}" />
          <label for="otp">Enter OTP:</label>
          <input type="number" id="otp" name="otp" required />
          <button type="submit">Submit</button>
        </form>

        <div id="timer-container">
          <span id="timer"></span>
          <a
            th:href="@{'/resend-otp/'+${id}}"
            class="resend-button hidden"
            id="resendButton"
            >Resend OTP</a
          >
        </div>
      </div>
    </div>

       <th:block th:insert="~{/fragments/footer}"></th:block>

    <script src="/js/resend.js"></script>
    
  </body>
</html>
