<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/fragments/commoncss}"></th:block>
    <title>Sign Up - Book Store</title>
    <link rel="stylesheet" href="/css/signup.css" />
  </head>

  <body>
    <div class="container">
      <h2 class="text-center">Sign Up</h2>
      <form action="/signup" method="post" th:object="${user}">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            th:field="*{name}"
            required
          />
          <span
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}"
            class="error-message"
          ></span>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            th:field="*{email}"
            required
          />
          <span
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
            class="error-message"
          ></span>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile:</label>
          <input
            type="tel"
            class="form-control"
            id="mobile"
            name="mobile"
            th:field="*{mobile}"
            required
          />
          <span
            th:if="${#fields.hasErrors('mobile')}"
            th:errors="*{mobile}"
            class="error-message"
          ></span>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            th:field="*{password}"
            required
          />
          <span
            th:if="${#fields.hasErrors('password')}"
            th:errors="*{password}"
            class="error-message"
          ></span>
        </div>

        <div class="form-group">
          <label for="gender">Gender:</label>
          <select
            class="form-control"
            th:field="*{gender}"
            id="gender"
            name="gender"
            required
          >
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
          <span
            th:if="${#fields.hasErrors('gender')}"
            th:errors="*{gender}"
            class="error-message"
          ></span>
        </div>

        <div class="form-group">
          <label for="dob">DoB:</label>
          <input
            type="date"
            class="form-control"
            id="dob"
            name="dob"
            th:field="*{dob}"
            required
          />
          <span
            th:if="${#fields.hasErrors('dob')}"
            th:errors="*{dob}"
            class="error-message"
          ></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>

      <a href="/" class="btn btn-link btn-block mt-3">Back to Home</a>
    </div>

    <th:block th:insert="~{/fragments/footer}"></th:block>
  </body>
</html>
